head
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	title Corporate
	meta(name='HandheldFriendly', content='True')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	link(rel='apple-touch-icon', href='apple-touch-icon.png')
	// Place favicon.ico in the root directory
	link(rel='stylesheet', href='css/main.css')
	link(rel='stylesheet', href='css/font-awesome.css')
	script(src='js/min/modernizr.min.js')
