
header.main
	.topbar
		.wrapper
			a(class='topnav mobile')
				i(class='fa fa-angle-double-down')

			ul.topmenu
				li: a(href='')
					img(src='css/img/home.png')
				li: a(href='') live
					span.liveindicator
				li: a(href='') sports
				li: a(href='') news
				li: a(href='') entertainment
				li: a(class='more') more




			ul.access
				li: a(href='') SINGUP
				li: a(href='') LOG IN





	.wrapper
		.main-nav
			.logo
				img(src='css/img/logo.png' alt)

			.triggers
				.burgermenu
					span

			.mobilesearchbox: input(type='search' class='mobilesearch' placeholder='Search')
			ul.nav
				li: a(href="index.html") Home
				li: a(href="#schedule") Shedule
				li: a(href="#updates") Updates
				li: a(href="#channel") Channels
				li: a(href="#about") About Us
				li: a(href="") Alagang kapatid

			.mobile-social
				a(class='m-social--facebook'): i(class='fa fa-facebook')
				a(class='m-social--twitter'): i(class='fa fa-twitter')

			.searchsocial
				.searchBlock
					.inputBox
						input(type="text" placeholder="Search..")
					button.searchIcon
						i(class="fa fa-search fa-lg")

				ul.socials
					li
						a(href="#" class="fbLink") 
							i(class="fa fa-facebook fa-lg")
					li
						a(href="#" class="twLink") 
							i(class="fa fa-twitter fa-lg")

		


