mixin ads-leaderboard
	section.ads-wide
		.ads-box

mixin ads-leaderboard-dark
	section.ads-wide.darkbg
		.ads-box

mixin ads-leaderboard-light
	section.ads-wide.lightbg
		.ads-box

mixin ads-sidebar
	.ads-sidebar
		.ads-box-sidebar
			p AD


mixin ads-content
	.ads-content
		.ads-box-content
			p AD