mixin list-title-category
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/nature/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/food/')
            .info-box
                span.title: a(href='') no storm signal no.3 anywhere, as typhoon lando weaks, may stay in par until weekend
                span.category VIDEO
    
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/technics/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
    
    li.adsbox
        .aspect-content
            .adsbox-content
        
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/city/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
    li.adsbox
        .aspect-content
            .adsbox-content
    
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/animals/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/transport/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/cats/')
            .info-box
                span.title: a(href='') MY FAIR LADY TEASER
                span.category VIDEO
                
mixin list-channel
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/nature/')
            .info-box
                span.title: a(href='') CHANNEL TITLE
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/food/')
            .info-box
                span.title: a(href='') CHANNEL TITLE
    
    li
        .aspect-content
            img(src='http://lorempixel.com/450/450/technics/')
            .info-box
                span.title: a(href='') CHANNEL TITLE
                
mixin socialfeed
    li
        .aspect-content
            //content here
    li
        .aspect-content
            //content here
    li
        .aspect-content
            //content here