/* IMPORTED FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@font-face {
  font-family: 'oswaldbold';
  src: url("fonts/oswald-bold-webfont.eot");
  src: url("fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-bold-webfont.woff2") format("woff2"), url("fonts/oswald-bold-webfont.woff") format("woff"), url("fonts/oswald-bold-webfont.ttf") format("truetype"), url("fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldmedium';
  src: url("fonts/oswald-medium-webfont.eot");
  src: url("fonts/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-medium-webfont.woff2") format("woff2"), url("fonts/oswald-medium-webfont.woff") format("woff"), url("fonts/oswald-medium-webfont.ttf") format("truetype"), url("fonts/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_regularregular';
  src: url("fonts/oswald-regular-webfont.eot");
  src: url("fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-regular-webfont.woff2") format("woff2"), url("fonts/oswald-regular-webfont.woff") format("woff"), url("fonts/oswald-regular-webfont.ttf") format("truetype"), url("fonts/oswald-regular-webfont.svg#oswald_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldlight';
  src: url("fonts/oswald-light-webfont.eot");
  src: url("fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-light-webfont.woff2") format("woff2"), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.ttf") format("truetype"), url("fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

.darkbg {
  background: #2f3837 !important; }

.lightbg {
  background: #fff !important; }

.greybg {
  background: #e5e5e5 !important; }

.redbg {
  background: #eb1d26 !important; }

.darkredbg {
  background: #98012e !important; }

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Arial;
  font-size: 13px;
  background: #fff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline-width: 0;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9; }

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #98012e;
  border-bottom: 2px #e5e5e5 solid;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
      height: auto; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .main {
      height: auto; } }
  .main.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10; }
    .main.fixed .topbar {
      height: 0;
      max-height: 0;
      overflow: hidden; }
    .main.fixed .logo {
      height: 50px;
      width: 50px; }
    .main.fixed .nav {
      height: 50px;
      line-height: 50px; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .main.fixed .nav {
          height: auto; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .main.fixed .nav {
          height: auto; } }
    .main.fixed .searchsocial {
      margin-top: 12px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .main.fixed .main-nav {
        max-height: 50px; }
        .main.fixed .main-nav.show {
          max-height: 1000px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .main.fixed .main-nav {
        max-height: 50px; }
        .main.fixed .main-nav.show {
          max-height: 1000px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .main.fixed .burgermenu {
        margin-top: 15px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .main.fixed .burgermenu {
        margin-top: 15px; } }

.topbar {
  width: 100%;
  height: 28px;
  background: #e31837; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topbar {
      overflow: hidden;
      height: auto;
      max-height: 28px;
      -moz-transition: 50ms;
      -webkit-transition: 50ms;
      -ms-transition: 50ms;
      -o-transition: 50ms;
      transition: 50ms; }
      .topbar.slideDown {
        max-height: 1000px;
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s; } }

.topmenu {
  display: block;
  width: auto;
  float: left;
  height: 28px;
  margin-left: 60px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .topmenu {
      margin-left: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topmenu {
      margin-left: 0;
      float: none;
      overflow: hidden;
      height: auto; } }
  .topmenu li {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 12; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .topmenu li {
        float: none; } }
    .topmenu li a {
      display: block;
      height: 12px;
      line-height: 12px;
      margin: 8px 0;
      padding: 0 10px;
      color: #fff;
      font-family: "Open Sans";
      text-transform: uppercase;
      border-right: 1px #fff solid; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .topmenu li a {
          border-right: 0 #fff solid; } }
      .topmenu li a .liveindicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #8dc63f;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-left: 5px; }
    .topmenu li:last-child a {
      border-right: 0; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topmenu .more {
      display: none; } }

.access {
  float: right;
  display: block;
  width: auto;
  background: #2f3837;
  height: 28px;
  padding: 0 20px;
  margin-right: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .access {
      margin-right: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .access {
      float: none;
      margin-right: 0;
      margin-left: -10px;
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px); } }
  .access li {
    display: block;
    float: left; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .access li {
        width: 50%;
        text-align: center; } }
    .access li a {
      display: block;
      height: 12px;
      line-height: 12px;
      margin: 8px 0;
      padding: 0 10px;
      color: #fff;
      font-family: "Open Sans";
      text-transform: uppercase;
      border-right: 1px #fff solid; }
    .access li:last-child a {
      border-right: 0; }

.main-nav {
  width: 100%;
  height: auto;
  overflow: hidden; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-nav {
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      max-height: 80px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .main-nav {
      -moz-transition: 0.2s;
      -webkit-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      max-height: 80px; } }
  .main-nav.show {
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    max-height: 1000px; }

.logo {
  float: left;
  position: relative;
  height: 80px;
  width: auto;
  margin-left: 70px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
      margin-left: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .logo {
      margin-left: 0; } }
  .logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%; }

.mobilesearchbox {
  display: none; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobilesearchbox {
      display: block; } }

.nav {
  float: left;
  display: block;
  height: 80px;
  line-height: 80px;
  margin-left: 15px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
      height: auto;
      overflow: hidden;
      padding: 0;
      margin-left: 0;
      padding: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .nav {
      height: auto;
      overflow: hidden;
      padding: 0;
      margin-left: 0;
      padding: 0; } }
  .nav li {
    float: left;
    margin: 0 25px 0 0; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .nav li {
        float: none;
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .nav li {
        float: none;
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px; } }
    .nav li a {
      font-family: "oswaldlight";
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      display: block;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .nav li a:hover, .nav li a.active {
        color: #eb1d26;
        -moz-text-shadow: #000 0 1px 0;
        -webkit-text-shadow: #000 0 1px 0;
        -ms-text-shadow: #000 0 1px 0;
        -o-text-shadow: #000 0 1px 0;
        text-shadow: #000 0 1px 0; }

.searchsocial {
  margin: 26px 0 0 0;
  position: relative;
  height: 27px;
  overflow: hidden;
  float: right;
  margin-right: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .searchsocial {
      display: none; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .searchsocial {
      display: none; } }
  .searchsocial .searchBlock {
    float: left;
    border-right: 1px #ca1920 solid; }
    .searchsocial .searchBlock .inputBox {
      float: left;
      margin-right: 5px;
      background: #fff;
      overflow: hidden;
      width: 0;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .searchsocial .searchBlock .inputBox input[type=text] {
        float: right;
        line-height: 24px;
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        outline: none;
        border: 0;
        padding-left: 12px;
        padding-right: 12px;
        background: transparent;
        box-sizing: border-box;
        width: 100%; }
    .searchsocial .searchBlock .searchIcon {
      float: left;
      color: #fff;
      cursor: pointer;
      margin-right: 8px;
      line-height: 20px;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 0;
      background: transparent;
      outline: none;
      padding: 0;
      font-size: 14px; }
      .searchsocial .searchBlock .searchIcon:hover {
        color: #eb1d26; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .searchsocial .searchBlock .searchIcon {
          display: none; } }
    .searchsocial .searchBlock.open .searchIcon {
      color: #eb1d26;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .searchsocial .searchBlock.open .inputBox {
      width: 171px;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .searchsocial ul.socials {
    float: left;
    margin-top: 1px; }
    .searchsocial ul.socials li {
      float: left;
      margin: 0 2px; }
      .searchsocial ul.socials li a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        display: block;
        position: relative;
        color: #fff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .searchsocial ul.socials li a.fbLink {
          background: #3b5998;
          margin-left: 5px; }
          .searchsocial ul.socials li a.fbLink:hover {
            background: #3b5998; }
        .searchsocial ul.socials li a.twLink {
          background: #4099ff; }
          .searchsocial ul.socials li a.twLink:hover {
            background: #4099ff; }

.topnav {
  display: none; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topnav {
      display: block;
      height: 28px;
      text-align: center;
      color: #fff;
      line-height: 28px;
      font-size: 20px; } }

.triggers {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .triggers {
      display: block; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .triggers {
      display: block; } }

.mobile-social {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile-social {
      display: block;
      width: 100%;
      height: 40px;
      overflow: hidden; }
      .mobile-social a {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        color: #fff; }
        .mobile-social a.m-social--twitter {
          background: #4099ff; }
        .mobile-social a.m-social--facebook {
          background: #3b5998; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobile-social {
      display: block;
      width: 100%;
      height: 30px;
      overflow: hidden; }
      .mobile-social a {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: #fff; }
        .mobile-social a.m-social--twitter {
          background: #4099ff; }
        .mobile-social a.m-social--facebook {
          background: #3b5998; } }

.mobilesearchbox {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mobilesearchbox {
      display: block;
      width: 100%;
      height: 60px;
      padding: 10px 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      clear: both; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobilesearchbox {
      display: block;
      width: 100%;
      height: 60px;
      padding: 10px 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      clear: both; } }

.mobilesearch {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mobilesearch {
      display: block;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      width: 100%;
      margin: 0 auto;
      height: 40px;
      padding: 0 20px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobilesearch {
      display: block;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      width: 100%;
      height: 40px;
      margin: 10px auto;
      padding: 0 20px;
      margin: 0 auto; } }

.burgermenu {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .burgermenu {
      display: block;
      float: right;
      width: 30px;
      height: 20px;
      margin: 32px 0 0 0;
      position: relative;
      cursor: pointer; }
      .burgermenu span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: -moz-calc(50% - 2px);
        top: -webkit-calc(50% - 2px);
        top: calc(50% - 2px); }
      .burgermenu:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: 0;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .burgermenu:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        bottom: 0;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .burgermenu.open span {
        display: none; }
      .burgermenu.open:before {
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%; }
      .burgermenu.open:after {
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 50%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .burgermenu {
      display: block;
      float: right;
      width: 30px;
      height: 20px;
      margin: 27px 10px 0 0;
      position: relative;
      cursor: pointer; }
      .burgermenu span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: -moz-calc(50% - 2px);
        top: -webkit-calc(50% - 2px);
        top: calc(50% - 2px); }
      .burgermenu:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: 0;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .burgermenu:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        bottom: 0;
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .burgermenu.open span {
        display: none; }
      .burgermenu.open:before {
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%; }
      .burgermenu.open:after {
        -moz-transition: 0.2s;
        -webkit-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 50%; } }

footer {
  background: #2f3837;
  height: 40px;
  margin-top: 50px;
  line-height: 40px; }
  footer a {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-family: "oswaldlight";
    font-size: 14px; }
  footer span {
    float: right;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-family: "oswaldlight";
    font-size: 14px;
    text-transform: uppercase; }

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 0 0 0;
  background: #fff; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .container {
      padding: 0 0 0; } }
  .container.fixed {
    padding-top: 228px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .container.fixed {
        padding-top: 148px; } }

.wrapper {
  width: 100%;
  max-width: 1366px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      padding: 0 20px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .wrapper {
      min-height: 0;
      padding: 0 10px; } }

.block-title {
  display: block;
  margin: 10px 0 0;
  height: 50px;
  background: #eb1d26;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-family: "oswaldlight";
  font-size: 20px; }

.channel-title {
  display: block;
  margin: 10px auto 0;
  height: 30px;
  background: #2f3837;
  line-height: 34px;
  color: #fff;
  text-align: center;
  font-family: "oswaldlight";
  font-size: 20px;
  width: 95%; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .channel-title {
      width: 100%; } }

.featured-video {
  position: relative;
  width: 100%;
  max-width: 970px;
  background: #fff;
  margin: 20px auto; }
  .featured-video:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .featured-video > .aspect-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .featured-video {
      margin-left: -10px;
      margin-top: 0;
      margin-bottom: 0;
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px); } }
  .featured-video img {
    width: 100%;
    height: auto;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -moz-transition: 3s;
    -webkit-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s; }
  .featured-video:hover img {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -moz-transition: 3s;
    -webkit-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s; }
  .featured-video:hover .featured-playBtn {
    border-color: #eb1d26;
    color: #eb1d26;
    -moz-box-shadow: #000 0 0 100px;
    -webkit-box-shadow: #000 0 0 100px;
    -ms-box-shadow: #000 0 0 100px;
    -o-box-shadow: #000 0 0 100px;
    box-shadow: #000 0 0 100px;
    background: rgba(255, 255, 255, 0.3); }

.featured-playBtn {
  width: 100px;
  height: 100px;
  border: 5px #fff solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
  font-size: 50px;
  color: #fff;
  line-height: 90px;
  -moz-transition: 3s;
  -webkit-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s; }
  .featured-playBtn i.fa {
    margin-left: -moz-calc(50% - 15px);
    margin-left: -webkit-calc(50% - 15px);
    margin-left: calc(50% - 15px); }
  .featured-playBtn:hover {
    -moz-transition: 3s;
    -webkit-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    border-color: #eb1d26;
    color: #eb1d26;
    -moz-box-shadow: #000 0 0 100px;
    -webkit-box-shadow: #000 0 0 100px;
    -ms-box-shadow: #000 0 0 100px;
    -o-box-shadow: #000 0 0 100px;
    box-shadow: #000 0 0 100px;
    background: rgba(255, 255, 255, 0.3); }

.schedule-grid {
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
  padding: 10px 0 0;
  overflow: hidden; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .schedule-grid {
      width: 100%; } }
  .schedule-grid .grid {
    position: relative;
    width: -moz-calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    background: #e5e5e5;
    float: left; }
    .schedule-grid .grid:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .schedule-grid .grid > .aspect-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .schedule-grid .grid {
        width: 50%; } }
    .schedule-grid .grid.wide {
      position: relative;
      width: -moz-calc(100% / 3 * 2);
      width: -webkit-calc(100% / 3 * 2);
      width: calc(100% / 3 * 2);
      background: #000; }
      .schedule-grid .grid.wide:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 50%; }
      .schedule-grid .grid.wide > .aspect-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        overflow: hidden; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .schedule-grid .grid.wide {
          width: 100%; } }
    .schedule-grid .grid img {
      width: 100%;
      height: auto;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s;
      display: block; }
    .schedule-grid .grid:hover .info-box {
      top: -moz-calc(100% - 80px);
      top: -webkit-calc(100% - 80px);
      top: calc(100% - 80px); }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .schedule-grid .grid:hover .info-box {
          top: -moz-calc(100% - 50px);
          top: -webkit-calc(100% - 50px);
          top: calc(100% - 50px); } }
    .schedule-grid .grid:hover img {
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }
    .schedule-grid .grid .info-box {
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
      position: absolute;
      left: 0;
      top: 100%;
      color: #fff;
      font-family: "oswaldlight";
      height: 80px;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .schedule-grid .grid .info-box {
          top: -moz-calc(100% - 80px);
          top: -webkit-calc(100% - 80px);
          top: calc(100% - 80px); } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .schedule-grid .grid .info-box {
          height: 50px;
          top: -moz-calc(100% - 50px);
          top: -webkit-calc(100% - 50px);
          top: calc(100% - 50px); } }
      .schedule-grid .grid .info-box .title {
        height: auto;
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: calc(100% - 150px);
        display: block;
        top: 50%;
        left: 10px;
        position: absolute;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 18px; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .schedule-grid .grid .info-box .title {
            width: -moz-calc(100% - 100px);
            width: -webkit-calc(100% - 100px);
            width: calc(100% - 100px);
            left: 0;
            padding: 0 10px;
            font-size: 15px; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .schedule-grid .grid .info-box .title {
            font-size: 10px;
            width: 50%;
            overflow: hidden;
            left: 0;
            padding: 0 10px; } }
        .schedule-grid .grid .info-box .title a {
          color: #fff; }
      .schedule-grid .grid .info-box .sched {
        width: 150px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 25px;
        padding: 0 10px;
        height: 100%;
        background: #eb1d26;
        line-height: 40px;
        text-align: left; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .schedule-grid .grid .info-box .sched {
            width: 100px;
            font-size: 20px; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .schedule-grid .grid .info-box .sched {
            width: 50%;
            font-size: 15px;
            line-height: 25px; } }
        .schedule-grid .grid .info-box .sched small {
          display: block;
          font-size: 18px; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            .schedule-grid .grid .info-box .sched small {
              font-size: 15px; } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .schedule-grid .grid .info-box .sched small {
              font-size: 10px; } }

.full-sched-title {
  display: block;
  margin: 0;
  height: 50px;
  background: #eb1d26;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-family: "oswaldlight";
  font-size: 20px; }

.fullsched-btn {
  width: 100px;
  height: 50px;
  -moz-border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0 0 50px 50px;
  -ms-border-radius: 0 0 50px 50px;
  -o-border-radius: 0 0 50px 50px;
  border-radius: 0 0 50px 50px;
  background: #eb1d26;
  display: block;
  color: #fff;
  text-align: center;
  font-family: "oswaldlight";
  font-size: 14px;
  margin: 0 auto; }
  .fullsched-btn .expand {
    display: block;
    padding: 5px 0; }
    .fullsched-btn .expand span {
      display: block; }

#panel {
  -moz-box-shadow: #e5e5e5 0 -5px 4px inset;
  -webkit-box-shadow: #e5e5e5 0 -5px 4px inset;
  -ms-box-shadow: #e5e5e5 0 -5px 4px inset;
  -o-box-shadow: #e5e5e5 0 -5px 4px inset;
  box-shadow: #e5e5e5 0 -5px 4px inset;
  overflow: hidden;
  height: 0;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  #panel.open {
    height: 550px;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.shedpanel {
  height: 550px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .shedpanel {
      width: 100%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .shedpanel {
      width: 100%; } }
  .shedpanel > div {
    height: 500px;
    overflow: auto;
    width: 100%;
    display: none; }
    .shedpanel > div.active {
      display: block; }
    .shedpanel > div ul {
      margin: 0;
      overflow: hidden; }
      .shedpanel > div ul li {
        display: block;
        height: 150px;
        padding: 10px 0;
        overflow: hidden;
        font-family: "oswaldlight";
        font-size: 18px; }
        .shedpanel > div ul li.current {
          color: #fff;
          background: #eb1d26; }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .shedpanel > div ul li {
            height: auto; } }
        .shedpanel > div ul li span {
          display: block;
          float: left;
          height: 130px;
          line-height: 130px;
          padding: 0 10px;
          overflow: hidden;
          text-align: center; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            .shedpanel > div ul li span {
              font-size: 14px; } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .shedpanel > div ul li span {
              font-size: 14px; } }
          .shedpanel > div ul li span.status {
            width: 10%;
            font-size: 12px; }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .shedpanel > div ul li span.status {
                width: 15%;
                font-size: 10px; } }
            @media only screen and (min-width: 0) and (max-width: 767px) {
              .shedpanel > div ul li span.status {
                width: 100%;
                height: 20px;
                line-height: 20px; } }
          .shedpanel > div ul li span.time {
            width: 10%; }
            @media only screen and (min-width: 0) and (max-width: 767px) {
              .shedpanel > div ul li span.time {
                width: 40%;
                height: 100px;
                line-height: 100px; } }
          .shedpanel > div ul li span.thumbnail {
            width: 20%; }
            @media only screen and (min-width: 0) and (max-width: 767px) {
              .shedpanel > div ul li span.thumbnail {
                width: 60%;
                height: 100px; } }
          .shedpanel > div ul li span.showtitle {
            width: 60%;
            line-height: 20px;
            text-align: left;
            padding: 30px 20px 0; }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
              .shedpanel > div ul li span.showtitle {
                width: 55%; } }
            @media only screen and (min-width: 0) and (max-width: 767px) {
              .shedpanel > div ul li span.showtitle {
                width: 100%;
                height: auto; } }
            .shedpanel > div ul li span.showtitle small {
              display: block;
              padding: 10px 0; }
  .shedpanel h1 {
    display: block;
    float: left;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-family: "oswaldlight";
    font-size: 18px;
    cursor: pointer; }
    .shedpanel h1:hover, .shedpanel h1.active {
      background: #2f3837;
      color: #fff; }

.whats-new {
  margin: 30px auto 30px;
  padding: 0;
  width: auto;
  overflow: hidden;
  width: 95%; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .whats-new {
      width: 100%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .whats-new {
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px);
      margin-left: -10px;
      padding: 0 10px; } }
  .whats-new li {
    width: -moz-calc(100% / 3 - 2%);
    width: -webkit-calc(100% / 3 - 2%);
    width: calc(100% / 3 - 2%);
    float: left;
    background: #fff;
    position: relative;
    position: relative;
    margin-right: -moz-calc(2% * 3 / 2);
    margin-right: -webkit-calc(2% * 3 / 2);
    margin-right: calc(2% * 3 / 2);
    margin-bottom: -moz-calc(2% * 3 / 2);
    margin-bottom: -webkit-calc(2% * 3 / 2);
    margin-bottom: calc(2% * 3 / 2); }
    .whats-new li:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .whats-new li > .aspect-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden; }
    .whats-new li:nth-child(3n) {
      margin-right: 0; }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      .whats-new li {
        width: -moz-calc(100% / 3 - 1%);
        width: -webkit-calc(100% / 3 - 1%);
        width: calc(100% / 3 - 1%);
        margin-right: -moz-calc(1% * 3 / 2);
        margin-right: -webkit-calc(1% * 3 / 2);
        margin-right: calc(1% * 3 / 2); } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .whats-new li {
        width: -moz-calc(100% / 2 - 2%);
        width: -webkit-calc(100% / 2 - 2%);
        width: calc(100% / 2 - 2%); }
        .whats-new li:nth-child(even) {
          margin-right: 0; }
        .whats-new li:nth-child(odd) {
          margin-right: -moz-calc(2% * 2);
          margin-right: -webkit-calc(2% * 2);
          margin-right: calc(2% * 2); } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .whats-new li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
    .whats-new li img {
      width: 100%;
      height: auto;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s;
      display: block; }
    .whats-new li:hover .info-box {
      top: -moz-calc(100% - 80px);
      top: -webkit-calc(100% - 80px);
      top: calc(100% - 80px); }
    .whats-new li:hover img {
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }
    .whats-new li .info-box {
      width: 100%;
      height: auto;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px;
      position: absolute;
      left: 0;
      top: 100%;
      color: #fff;
      font-family: "oswaldlight";
      height: 80px;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .whats-new li .info-box {
          top: -moz-calc(100% - 80px);
          top: -webkit-calc(100% - 80px);
          top: calc(100% - 80px); } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .whats-new li .info-box {
          top: -moz-calc(100% - 80px);
          top: -webkit-calc(100% - 80px);
          top: calc(100% - 80px); } }
      .whats-new li .info-box .title {
        height: auto;
        width: 75%;
        display: block;
        top: 50%;
        left: 10px;
        position: absolute;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 18px; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .whats-new li .info-box .title {
            font-size: 15px; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .whats-new li .info-box .title {
            font-size: 16px; } }
        .whats-new li .info-box .title a {
          color: #fff; }
      .whats-new li .info-box .category {
        width: 20%;
        position: absolute;
        right: 10px;
        text-align: right;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 18px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .whats-new li.adsbox {
        margin-left: -10px;
        width: -moz-calc(100% + 20px);
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px); } }

.adsbox-content {
  width: 300px;
  height: 250px;
  border: 1px #e5e5e5 solid;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto; }

.channellist {
  margin: 0 auto 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  width: 95%; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .channellist {
      width: 100%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .channellist {
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px);
      margin-left: -10px;
      padding: 0 10px; } }
  .channellist li {
    width: -moz-calc(100% / 3 - 2%);
    width: -webkit-calc(100% / 3 - 2%);
    width: calc(100% / 3 - 2%);
    float: left;
    background: #fff;
    position: relative;
    position: relative;
    margin-right: -moz-calc(2% * 3 / 2);
    margin-right: -webkit-calc(2% * 3 / 2);
    margin-right: calc(2% * 3 / 2);
    margin-bottom: -moz-calc(2% * 3 / 2);
    margin-bottom: -webkit-calc(2% * 3 / 2);
    margin-bottom: calc(2% * 3 / 2); }
    .channellist li:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .channellist li > .aspect-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden; }
    .channellist li:nth-child(3n) {
      margin-right: 0; }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      .channellist li {
        width: -moz-calc(100% / 3 - 1%);
        width: -webkit-calc(100% / 3 - 1%);
        width: calc(100% / 3 - 1%);
        margin-right: -moz-calc(1% * 3 / 2);
        margin-right: -webkit-calc(1% * 3 / 2);
        margin-right: calc(1% * 3 / 2); } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .channellist li {
        width: -moz-calc(100% / 2 - 2%);
        width: -webkit-calc(100% / 2 - 2%);
        width: calc(100% / 2 - 2%); }
        .channellist li:nth-child(even) {
          margin-right: 0; }
        .channellist li:nth-child(odd) {
          margin-right: -moz-calc(2% * 2);
          margin-right: -webkit-calc(2% * 2);
          margin-right: calc(2% * 2); }
        .channellist li:nth-child(3n) {
          display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .channellist li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
    .channellist li img {
      width: 100%;
      height: auto;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s;
      display: block; }
    .channellist li:hover .info-box {
      top: -moz-calc(100% - 80px);
      top: -webkit-calc(100% - 80px);
      top: calc(100% - 80px); }
    .channellist li:hover img {
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
      -moz-transition: 3s;
      -webkit-transition: 3s;
      -ms-transition: 3s;
      -o-transition: 3s;
      transition: 3s; }
    .channellist li .info-box {
      width: 100%;
      height: auto;
      background: #eb1d26;
      padding: 10px;
      position: absolute;
      left: 0;
      top: 100%;
      color: #fff;
      font-family: "oswaldlight";
      height: 80px;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .channellist li .info-box {
          top: -moz-calc(100% - 80px);
          top: -webkit-calc(100% - 80px);
          top: calc(100% - 80px); } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .channellist li .info-box {
          top: -moz-calc(100% - 80px);
          top: -webkit-calc(100% - 80px);
          top: calc(100% - 80px); } }
      .channellist li .info-box .title {
        height: auto;
        width: 100%;
        display: block;
        top: 50%;
        left: 10px;
        position: absolute;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        text-transform: uppercase;
        font-size: 18px; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .channellist li .info-box .title {
            font-size: 15px; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .channellist li .info-box .title {
            font-size: 16px; } }
        .channellist li .info-box .title a {
          color: #fff; }

.socialfeeds {
  margin: 30px auto;
  padding: 0;
  width: auto;
  overflow: hidden;
  width: 95%; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .socialfeeds {
      width: 100%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .socialfeeds {
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px);
      margin-left: -10px;
      padding: 0 10px; } }
  .socialfeeds li {
    width: -moz-calc(100% / 3 - 2%);
    width: -webkit-calc(100% / 3 - 2%);
    width: calc(100% / 3 - 2%);
    float: left;
    background: #fff;
    position: relative;
    position: relative;
    margin-right: -moz-calc(2% * 3 / 2);
    margin-right: -webkit-calc(2% * 3 / 2);
    margin-right: calc(2% * 3 / 2);
    margin-bottom: -moz-calc(2% * 3 / 2);
    margin-bottom: -webkit-calc(2% * 3 / 2);
    margin-bottom: calc(2% * 3 / 2); }
    .socialfeeds li:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    .socialfeeds li > .aspect-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      overflow: hidden; }
    .socialfeeds li:nth-child(3n) {
      margin-right: 0; }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      .socialfeeds li {
        width: -moz-calc(100% / 3 - 1%);
        width: -webkit-calc(100% / 3 - 1%);
        width: calc(100% / 3 - 1%);
        margin-right: -moz-calc(1% * 3 / 2);
        margin-right: -webkit-calc(1% * 3 / 2);
        margin-right: calc(1% * 3 / 2); } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .socialfeeds li {
        width: -moz-calc(100% / 2 - 2%);
        width: -webkit-calc(100% / 2 - 2%);
        width: calc(100% / 2 - 2%); }
        .socialfeeds li:nth-child(even) {
          margin-right: 0; }
        .socialfeeds li:nth-child(odd) {
          margin-right: -moz-calc(2% * 2);
          margin-right: -webkit-calc(2% * 2);
          margin-right: calc(2% * 2); }
        .socialfeeds li:nth-child(3n) {
          display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .socialfeeds li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }

.aboutus {
  color: #fff; }
  .aboutus h1 {
    display: block;
    margin: 30px auto 0;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: left;
    font-family: "oswaldlight";
    font-size: 30px;
    width: 95%; }
  .aboutus ul {
    margin: 30px auto;
    padding: 0;
    width: auto;
    overflow: hidden;
    width: 95%; }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      .aboutus ul {
        width: 100%; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .aboutus ul {
        width: -moz-calc(100% + 20px);
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 0 10px; } }
    .aboutus ul li {
      width: -moz-calc(100% / 3 - 2%);
      width: -webkit-calc(100% / 3 - 2%);
      width: calc(100% / 3 - 2%);
      min-height: 300px;
      float: left;
      position: relative;
      margin-right: -moz-calc(2% * 3 / 2);
      margin-right: -webkit-calc(2% * 3 / 2);
      margin-right: calc(2% * 3 / 2);
      margin-bottom: -moz-calc(2% * 3 / 2);
      margin-bottom: -webkit-calc(2% * 3 / 2);
      margin-bottom: calc(2% * 3 / 2); }
      .aboutus ul li:nth-child(3n) {
        margin-right: 0; }
      @media only screen and (min-width: 1024px) and (max-width: 1279px) {
        .aboutus ul li {
          width: -moz-calc(100% / 3 - 1%);
          width: -webkit-calc(100% / 3 - 1%);
          width: calc(100% / 3 - 1%);
          margin-right: -moz-calc(1% * 3 / 2);
          margin-right: -webkit-calc(1% * 3 / 2);
          margin-right: calc(1% * 3 / 2); } }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .aboutus ul li {
          width: -moz-calc(100% / 2 - 2%);
          width: -webkit-calc(100% / 2 - 2%);
          width: calc(100% / 2 - 2%); }
          .aboutus ul li:nth-child(even) {
            margin-right: 0; }
          .aboutus ul li:nth-child(odd) {
            margin-right: -moz-calc(2% * 2);
            margin-right: -webkit-calc(2% * 2);
            margin-right: calc(2% * 2); }
          .aboutus ul li:nth-child(3n) {
            display: none; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .aboutus ul li {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; } }
      .aboutus ul li h3 {
        font-family: "oswaldlight";
        font-size: 18px;
        display: block;
        height: 30px;
        line-height: 30px;
        font-weight: 100; }
      .aboutus ul li p {
        font-family: "Lato";
        font-size: 14px;
        line-height: 24px;
        margin: 20px 0 40px; }
      .aboutus ul li img {
        display: block;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: relative; }

.lastcont {
  margin-bottom: 550px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .lastcont {
      margin-bottom: 0; } }

.officialslist {
  margin: 20px 0;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .officialslist li {
    float: left;
    width: -moz-calc(100% / 7);
    width: -webkit-calc(100% / 7);
    width: calc(100% / 7);
    padding: 0 10px 20px;
    text-align: center;
    color: #fff; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .officialslist li {
        width: -moz-calc(100% / 5);
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5); } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .officialslist li {
        width: 50%; } }
    .officialslist li p {
      display: block;
      margin: 10px 0 5px;
      font-size: 14px;
      font-family: "oswaldlight"; }
    .officialslist li span {
      display: block;
      font-size: 12px;
      font-family: "Lato"; }

.ads-wide {
  background: #e5e5e5;
  height: 110px;
  padding: 10px 0;
  display: block; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-wide {
      padding: 10px 0;
      width: 100%;
      height: 70px; } }

.ads-box {
  width: 728px;
  height: 90px;
  margin: 0 auto; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-box {
      width: 100%;
      max-width: 320px;
      height: 50px; } }
  .ads-box:after {
    content: 'LEADERBOARD';
    display: block;
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #cccccc;
    border: 1px #cccccc solid; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .ads-box:after {
        height: 50px;
        line-height: 50px; } }

.ads-content {
  height: 250px;
  width: 100%;
  padding: 80px 0;
  border-top: 1px #e5e5e5 solid; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .ads-content {
      height: auto;
      padding: 30px 0;
      margin: 0 auto; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-content {
      padding: 20px 0;
      width: 100%;
      height: 90px; } }
  .ads-content .ads-box-content {
    width: 100%;
    max-width: 728px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    line-height: 90px;
    text-align: center;
    color: #ededed;
    background: #cccccc;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: 900; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .ads-content .ads-box-content {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        max-width: 320px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .ads-content .ads-box-content {
        width: 100%;
        max-width: 320px;
        height: 50px;
        line-height: 50px;
        font-size: 20px; } }
    .ads-content .ads-box-content:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .ads-content .ads-box-content:after {
          height: 50px;
          line-height: 50px; } }

.ads-sidebar {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 52px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-sidebar {
      width: 100vw;
      left: 50%;
      position: relative;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #999999;
      padding: -moz-calc((100vw - 300px) / 2);
      padding: -webkit-calc((100vw - 300px) / 2);
      padding: calc((100vw - 300px) / 2);
      padding-top: 10px;
      padding-bottom: 10px; } }

.ads-box-sidebar {
  width: 100%;
  height: 250px;
  background: #e5e5e5;
  position: relative;
  line-height: 250px;
  text-align: center;
  color: #ededed;
  background: #cccccc;
  font-size: 60px;
  font-family: "Open Sans";
  font-weight: 900; }

#contact {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 550px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    #contact {
      height: auto;
      position: relative;
      z-index: auto; } }
  #contact ul {
    margin: 20px auto;
    padding: 0;
    overflow: hidden; }
    #contact ul li {
      float: left;
      width: -moz-calc(100% / 3 - 2%);
      width: -webkit-calc(100% / 3 - 2%);
      width: calc(100% / 3 - 2%);
      margin-right: -moz-calc(2% * 3 / 2);
      margin-right: -webkit-calc(2% * 3 / 2);
      margin-right: calc(2% * 3 / 2); }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        #contact ul li {
          width: 100%;
          float: none;
          margin-bottom: 30px; } }
      #contact ul li:last-child {
        width: -moz-calc(100% / 3 * 2 - 2%);
        width: -webkit-calc(100% / 3 * 2 - 2%);
        width: calc(100% / 3 * 2 - 2%);
        margin-right: 0; }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          #contact ul li:last-child {
            width: 100%; } }
      #contact ul li h1 {
        font-size: 30px;
        font-family: "oswaldlight";
        margin-bottom: 25px;
        line-height: 40px; }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          #contact ul li h1 {
            margin-bottom: 10px; } }
      #contact ul li p {
        line-height: 24px;
        font-size: 14px;
        font-family: "Lato";
        margin-bottom: 30px; }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          #contact ul li p {
            margin-bottom: 10px; } }
      #contact ul li span {
        display: block;
        height: auto;
        overflow: hidden;
        margin-bottom: 10px; }
        #contact ul li span input[type=text] {
          height: 40px;
          border: 1px #e5e5e5 solid;
          line-height: 40px;
          padding: 0 10px;
          width: 70%;
          font-family: "oswaldlight";
          font-size: 14px; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #contact ul li span input[type=text] {
              width: 100%; } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            #contact ul li span input[type=text] {
              width: 100%; } }
        #contact ul li span input[type=submit] {
          height: 40px;
          border: 0px #e5e5e5 solid;
          line-height: 40px;
          padding: 0 10px;
          width: 150px;
          font-family: "oswaldlight";
          font-size: 14px;
          background: #eb1d26;
          color: #fff;
          margin-left: -moz-calc(70% - 150px);
          margin-left: -webkit-calc(70% - 150px);
          margin-left: calc(70% - 150px);
          cursor: pointer; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #contact ul li span input[type=submit] {
              margin-left: -moz-calc(50% - 75px);
              margin-left: -webkit-calc(50% - 75px);
              margin-left: calc(50% - 75px); } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            #contact ul li span input[type=submit] {
              margin-left: -moz-calc(50% - 75px);
              margin-left: -webkit-calc(50% - 75px);
              margin-left: calc(50% - 75px); } }
          #contact ul li span input[type=submit]:hover {
            background: #98012e; }
        #contact ul li span textarea {
          height: 150px;
          min-height: 150px;
          max-height: 150px;
          border: 1px #e5e5e5 solid;
          line-height: 40px;
          padding: 0 10px;
          width: 70%;
          max-width: 70%;
          min-width: 70%;
          font-family: "oswaldlight";
          font-size: 14px; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            #contact ul li span textarea {
              width: 100%;
              max-width: 100%; } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            #contact ul li span textarea {
              width: 100%;
              max-width: 100%; } }
        #contact ul li span.error input[type=text] {
          border: 1px #eb1d26 solid; }

/*# sourceMappingURL=main.css.map */
