doctype html
html(lang="en")
	include layout/head
	include mixins/ads
	body
		+ads-leaderboard
		include layout/header
		
		include modules/featured-video
		+ads-leaderboard
		include modules/schedule-grid
		
		+ads-leaderboard-light
		include modules/whats-new
		
		include modules/channels
		+ads-leaderboard-light
		
		include modules/socialfeeds
		+ads-leaderboard
		
		include modules/about
		include modules/members
		include modules/contacts
		//footer
		include layout/footer


