
<div id="contact" class="container">
  <div class="wrapper">
    <ul>
      <li>
        <h1>LOCATION</h1>
        <p>TV5 Media Center Reliance Corner Sheridan Street<br/>Mandaluyong City 1552</p>
        <p>
           
          info@tv5.com.ph
        </p>
        <p>(632) 938-63-93 <br/>(632) 355-55-35</p>
      </li>
      <li>
        <h1>CONTACT</h1><span class="error">
          <input type="text" placeholder="YOUR NAME (REQUIRED)"/></span><span>
          <input type="text" placeholder="YOUR EMAIL (REQUIRED)"/></span><span>
          <input type="text" placeholder="SUBJECT"/></span><span>
          <textarea placeholder="YOUR MESSAGE"></textarea></span><span>
          <input type="submit" value="SUBMIT"/></span>
      </li>
    </ul>
  </div>
  <footer>
    <div class="wrapper"><a href="">PRIVACY POLICY</a><a href="">TERM OF USE</a><a href="">ABOUT</a><a href="">CONTACT</a><span>© TV5 Network Inc. All Rights Reserved.</span></div>
  </footer>
</div>