
<div class="container darkbg">
  <div class="wrapper">
    <div class="featured-video">
      <div class="aspect-content"><img src="http://lorempixel.com/970/546/people" alt=""/></div><a class="featured-playBtn"><i class="fa fa-play"></i></a>
    </div>
  </div>
</div>