
<div class="container lastcont darkredbg">
  <div class="wrapper">
    <ul class="officialslist">
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
      <li><img src="http://lorempixel.com/125/125/people/"/>
        <p>Emmanuel C. Lorenzana</p><span>President and CEO</span>
      </li>
    </ul>
  </div>
</div>