
<div id="schedule" class="container">
  <div class="wrapper">
    <div class="schedule-grid">
      <div class="grid wide">
        <div class="aspect-content"><img src="http://lorempixel.com/900/450/sports/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="sched"> <small>MON - FRI</small>6:00PM</span></div>
        </div>
      </div>
      <div class="grid nomargin">
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/people/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="sched"> <small>MON - FRI</small>6:00PM</span></div>
        </div>
      </div>
      <div class="grid">
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/business/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="sched"> <small>MON - FRI</small>6:00PM</span></div>
        </div>
      </div>
      <div class="grid">
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/fashion/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="sched"> <small>MON - FRI</small>6:00PM</span></div>
        </div>
      </div>
      <div class="grid">
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/transport/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="sched"> <small>MON - FRI</small>6:00PM</span></div>
        </div>
      </div>
    </div>
    <h1 class="full-sched-title">VIEW FULL SCHEDULE</h1>
  </div>
</div>
<div id="panel" class="container">
  <div class="wrapper">
    <div class="shedpanel">
      <h1 class="monday active">MON</h1>
      <h1 class="tuesday">TUES</h1>
      <h1 class="wednesday">WED</h1>
      <h1 class="thursday">THURS</h1>
      <h1 class="friday">FRI</h1>
      <h1 class="saturday">SAT</h1>
      <h1 class="sunday">SUN</h1>
      <div id="monday" class="active">
        <ul>
          <li class="current"><span class="status">NOW SHOWING</span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
        </ul>
      </div>
      <div id="tuesday">
        <ul>
          <li><span class="status">NOW SHOWING</span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li class="current"><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
        </ul>
      </div>
      <div id="wednesday">
        <ul>
          <li><span class="status">NOW SHOWING</span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li class="current"><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
        </ul>
      </div>
      <div id="thursday">
        <ul>
          <li class="current"><span class="status">NOW SHOWING</span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
          <li><span class="status"> </span><span class="time">3:00PM</span><span class="thumbnail"> <img src="http://lorempixel.com/200/130/food/"/></span><span class="showtitle">HULK AND THE AGENTS OF S.M.A.S.H. <small>Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!</small></span></li>
        </ul>
      </div>
      <div id="friday"></div>
      <div id="saturday"></div>
      <div id="sunday"></div>
    </div>
  </div>
</div>
<div class="container"><a class="fullsched-btn"><span class="expand">EXPAND <span><i class="fa fa-chevron-down"></i></span></span></a></div>