
<div class="container greybg">
  <div class="wrapper">
    <h1 class="block-title">SOCIAL MEDIA</h1>
    <ul class="socialfeeds">
      <li>
        <div class="aspect-content">
          <!--content here-->
        </div>
      </li>
      <li>
        <div class="aspect-content">
          <!--content here-->
        </div>
      </li>
      <li>
        <div class="aspect-content">
          <!--content here-->
        </div>
      </li>
    </ul>
  </div>
</div>