
<div id="updates" class="container greybg">
  <div class="wrapper">
    <h1 class="block-title">WHAT'S NEW</h1>
    <ul class="whats-new">
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/nature/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/food/"/>
          <div class="info-box"><span class="title"><a href="">no storm signal no.3 anywhere, as typhoon lando weaks, may stay in par until weekend</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/technics/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li class="adsbox">
        <div class="aspect-content">
          <div class="adsbox-content"></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/city/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li class="adsbox">
        <div class="aspect-content">
          <div class="adsbox-content"></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/animals/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/transport/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
      <li>
        <div class="aspect-content"><img src="http://lorempixel.com/450/450/cats/"/>
          <div class="info-box"><span class="title"><a href="">MY FAIR LADY TEASER</a></span><span class="category">VIDEO</span></div>
        </div>
      </li>
    </ul>
  </div>
</div>