

// TITLES

.block-title
    display: block
    margin: 10px 0 0
    height: 50px
    background: $red
    line-height: 50px
    color: $white
    text-align: center
    font-family: $oswalda-light
    font-size: 20px
    

.channel-title
    display: block
    margin: 10px auto 0
    height: 30px
    background: $black-2
    line-height: 34px
    color: $white
    text-align: center
    font-family: $oswalda-light
    font-size: 20px   
    width: 95%
    
    +formobile
        width: 100%
        