//COLOR
$white: #fff
$black: #000
$black-2: #2f3837


$grey-2: #939894
$grey: #e5e5e5
$grey-light: #ededed
$grey-lighter: #f0f0f0
$grey-dark: #cccccc
$grey-dark-2: #999999

$red: #eb1d26
$red-light-1: #e31837
$red-dark-1: #ca1920
$red-dark-2: #990033
$red-dark-3: #990000
$red-dark-4: #98012e

$facebook: #3b5998
$twitter: #4099ff

$green: #8dc63f

//FONTS
$default: Arial

$lora: 'Lora', serif

$oswalda-bold: 'oswaldbold'
$oswalda-medium: 'oswaldmedium'
$oswalda: 'oswald_regularregular'
$oswalda-light: 'oswaldlight'

$lato: 'Lato'
$droid: 'Droid Serif'

$opensans: 'Open Sans'

//FONT SIZE:


//BACKGROUNDS
.darkbg 
    background: $black-2 !important
.lightbg
    background: $white !important
.greybg 
    background: $grey !important
.redbg 
    background: $red !important
.darkredbg 
    background: $red-dark-4 !important
