
<header class="main">
  <div class="topbar">
    <div class="wrapper"><a class="topnav mobile"><i class="fa fa-angle-double-down"></i></a>
      <ul class="topmenu">
        <li><a href=""><img src="css/img/home.png"/></a></li>
        <li><a href="">live<span class="liveindicator"></span></a></li>
        <li><a href="">sports</a></li>
        <li><a href="">news</a></li>
        <li><a href="">entertainment</a></li>
        <li><a class="more">more</a></li>
      </ul>
      <ul class="access">
        <li><a href="">SINGUP</a></li>
        <li><a href="">LOG IN</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="main-nav">
      <div class="logo"><img src="css/img/logo.png" alt="alt"/></div>
      <div class="triggers">
        <div class="burgermenu"><span></span></div>
      </div>
      <div class="mobilesearchbox">
        <input type="search" placeholder="Search" class="mobilesearch"/>
      </div>
      <ul class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#schedule">Shedule</a></li>
        <li><a href="#updates">Updates</a></li>
        <li><a href="#channel">Channels</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="">Alagang kapatid</a></li>
      </ul>
      <div class="mobile-social"><a class="m-social--facebook"><i class="fa fa-facebook"></i></a><a class="m-social--twitter"><i class="fa fa-twitter"></i></a></div>
      <div class="searchsocial">
        <div class="searchBlock">
          <div class="inputBox">
            <input type="text" placeholder="Search.."/>
          </div>
          <button class="searchIcon"><i class="fa fa-search fa-lg"></i></button>
        </div>
        <ul class="socials">
          <li><a href="#" class="fbLink"> <i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="#" class="twLink"> <i class="fa fa-twitter fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>