.container.redbg#about
    .wrapper.aboutus
        h1 ABOUT US
        
        ul
            li
                h3 A FEW WORDS ABOUT US
                p
                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia blandit lorem, et sodales est egestas sed. Duis finibus non diam dignissim suscipit. Cras efficitur enim a eros venenatis blandit. Praesent ut nisl id justo tincidunt dignissim non nec libero. Etiam nec bibendum magna. Suspendisse dignissim nisl sed est tristique, molestie feugiat mi suscipit.
                p
                    |Vivamus quis mi sollicitudin, hendrerit dolor et, hendrerit elit. Cras volutpat sagittis efficitur. Curabitur in dolor quis elit pulvinar semper. Aliquam egestas nec arcu vitae ullamcorper.
            li
                h3 MISSION VISION  
                p
                    |Morbi et vulputate tortor. Sed ultrices, arcu in pretium tincidunt, libero diam aliquam ex, vitae congue nibh diam vitae ipsum. Maecenas luctus augue erat, sed dictum urna lacinia vitae. Vestibulum varius dictum mi, sit amet fermentum sapien placerat a. Maecenas cursus, arcu ac consectetur condimentum, urna lorem bibendum nibh, id tincidunt mauris ipsum id velit. Proin tincidunt rhoncus dolor, quis aliquet tellus. Donec egestas faucibus magna hendrerit consequat. Praesent convallis luctus neque vitae vehicula. Aliquam sapien turpis, vestibulum commodo nibh vel, euismod venenatis leo. Suspendisse faucibus purus nisi, et convallis arcu porttitor et. Aliquam 
            li
                img(src='css/img/logo-2.png')
                