include ../mixins/list
.container#channel
    .wrapper
        h1.block-title CHANNELS
        
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel
            
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel
            
        h3.channel-title ENTERTAINMENT
        ul.channellist
            +list-channel