.container#contact
   .wrapper
      ul
         li
            h1 LOCATION
            p
               |TV5 Media Center Reliance Corner Sheridan Street
               br
               |Mandaluyong City 1552

            p 
               |info@tv5.com.ph
            p
               |(632) 938-63-93 
               br 
               |(632) 355-55-35
         li
            h1 CONTACT

            span.error
               input(type='text' placeholder='YOUR NAME (REQUIRED)')
            span
               input(type='text' placeholder='YOUR EMAIL (REQUIRED)')
            span
               input(type='text' placeholder='SUBJECT')
            span
               textarea(placeholder='YOUR MESSAGE')

            span
               input(type='submit' value='SUBMIT')

   footer
      .wrapper
         a(href='') PRIVACY POLICY
         a(href='') TERM OF USE
         a(href='') ABOUT
         a(href='') CONTACT
         
         span © TV5 Network Inc. All Rights Reserved.
         
         
         
         
      