.container.darkbg
    .wrapper
        .featured-video
            .aspect-content
                img(src='http://lorempixel.com/970/546/people' alt='')
            
            a(class='featured-playBtn')
                i(class='fa fa-play')

                
        