.container.lastcont.darkredbg
    .wrapper
        ul.officialslist
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO
            li
                img(src='http://lorempixel.com/125/125/people/')
                p Emmanuel C. Lorenzana
                span President and CEO