.container#schedule
    .wrapper
        .schedule-grid
            .grid.wide
                .aspect-content
                    img(src='http://lorempixel.com/900/450/sports/')
                    .info-box
                        span.title: a(href='') MY FAIR LADY TEASER
                        span.sched 
                            small MON - FRI
                            | 6:00PM

            .grid.nomargin
                .aspect-content
                    img(src='http://lorempixel.com/450/450/people/')
                    .info-box
                        span.title: a(href='') MY FAIR LADY TEASER
                        span.sched 
                            small MON - FRI
                            | 6:00PM
            .grid
                .aspect-content
                    img(src='http://lorempixel.com/450/450/business/')
                    .info-box
                        span.title: a(href='') MY FAIR LADY TEASER
                        span.sched 
                            small MON - FRI
                            | 6:00PM
            .grid
                .aspect-content
                    img(src='http://lorempixel.com/450/450/fashion/')
                    .info-box
                        span.title: a(href='') MY FAIR LADY TEASER
                        span.sched 
                            small MON - FRI
                            | 6:00PM
            .grid
                .aspect-content
                    img(src='http://lorempixel.com/450/450/transport/')
                    .info-box
                        span.title: a(href='') MY FAIR LADY TEASER
                        span.sched 
                            small MON - FRI
                            | 6:00PM


        h1.full-sched-title VIEW FULL SCHEDULE
.container#panel
    .wrapper
        .shedpanel
            h1.monday.active MON
            h1.tuesday TUES
            h1.wednesday WED
            h1.thursday THURS
            h1.friday FRI
            h1.saturday SAT
            h1.sunday SUN
            
            #monday.active
                ul
                    li.current
                        span.status NOW SHOWING
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
            #tuesday
                ul
                    li
                        span.status NOW SHOWING
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li.current
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
            #wednesday
                ul
                    li
                        span.status NOW SHOWING
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li.current
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
            #thursday
                ul
                    li.current
                        span.status NOW SHOWING
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                    
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
                            
                    li
                        span.status 
                        span.time 3:00PM
                        span.thumbnail 
                            img(src='http://lorempixel.com/200/130/food/')
                        span.showtitle
                            | HULK AND THE AGENTS OF S.M.A.S.H. 
                            small Haharapin nina Hulk, She-Hulk, Red Hulk, A-Bomb, at Skaar ang mga kalaban na di kayang puksain ng iba pang superheroes!
            #friday
            #saturday
            #sunday

.container
    a(class='fullsched-btn')
        span.expand EXPAND 
            span: i(class='fa fa-chevron-down')