.container
	width: 100%
	height: auto
	overflow: hidden
	position: relative
	padding: 0 0 0
	background: $white


	+formobile
		padding: 0 0 0

	&.fixed
		padding-top: 110px + 118px
		+formobile
			padding-top: 70px + 78px


.wrapper
	width: 100%
	max-width: 1366px
	padding: 0 30px
	margin: 0 auto
	position: relative
	+fortablet
		padding: 0 20px
	+formobile
		min-height: 0
		padding: 0 10px