footer
    background: $black-2
    height: 40px
    margin-top: 50px
    line-height: 40px
    
    
    a
        color: $white
        display: inline-block
        margin-right: 15px
        font-family: $oswalda-light
        font-size: 14px
    
    span
        float: right
        height: 40px
        line-height: 40px
        color: $white
        font-family: $oswalda-light
        font-size: 14px
        text-transform: uppercase