//MAIN HEADER
.main
	width: 100%
	height: auto
	overflow: hidden
	background: $red-dark-4
	border-bottom: 2px $grey solid
	position: relative
	+fortablet
		height: auto
	+formobile
		height: auto
		


	&.fixed
		position: fixed
		left: 0
		top: 0
		z-index: 10
		
		.topbar
			height: 0
			max-height: 0
			overflow: hidden
		.logo
			height: 50px
			width: 50px
		.nav
			height: 50px
			line-height: 50px
			+fortablet
				height: auto
			+formobile
				height: auto
		.searchsocial
			margin-top: 12px
		.main-nav 
			+fortablet
				max-height: 50px
				&.show
					max-height: 1000px
			+formobile
				max-height: 50px
				&.show
					max-height: 1000px
		.burgermenu
			+fortablet
				margin-top: 15px
			+formobile
				margin-top: 15px
	
//TOP BAR
.topbar
	width: 100%
	height: 28px
	background: $red-light-1

	+formobile
		overflow: hidden
		height: auto
		max-height: 28px
		+transitionspeed(50ms)

		&.slideDown
			max-height: 1000px
			+transitionspeed(1s)

//TOP MENU
.topmenu
	display: block
	width: auto
	float: left
	height: 28px
	margin-left: 60px
	+fortablet
		margin-left: 0
	+formobile
		margin-left: 0
		float: none
		overflow: hidden
		height: auto


	li
		display: block
		float: left
		height: 28px
		line-height: 28px
		font-size: 12
		+formobile
			float: none


		a
			display: block
			height: 12px
			line-height: 12px
			margin: 8px 0
			padding: 0 10px
			color: $white
			font-family: $opensans
			text-transform: uppercase
			border-right: 1px $white solid
			+formobile
				border-right: 0 $white solid

			.liveindicator
				display: inline-block
				width: 12px
				height: 12px
				background: $green
				+bradius(50%)
				margin-left: 5px

		&:last-child
			a
				border-right: 0

	.more
		+formobile
			display: none


//SIGN IN
.access
	float: right
	display: block
	width: auto
	background: $black-2
	height: 28px
	padding: 0 20px
	margin-right: 40px
	+fortablet
		margin-right: 0
	+formobile
		float: none
		margin-right: 0
		margin-left: -10px
		+calc(width,'100% + 20px')

	li
		display: block
		float: left
		+formobile
			width: 50%
			text-align: center
		a
			display: block
			height: 12px
			line-height: 12px
			margin: 8px 0
			padding: 0 10px
			color: $white
			font-family: $opensans
			text-transform: uppercase
			border-right: 1px $white solid

		&:last-child
				a
					border-right: 0

//MAIN NAV
.main-nav 
	width: 100%
	height: auto
	overflow: hidden
	+fortablet
		+transitionspeed(0.2s)
		max-height: 80px
		
	+formobile
		+transitionspeed(0.2s)
		max-height: 80px

	&.show 
		+transitionspeed(1s)
		max-height: 1000px

//LOGO	
.logo
	float: left
	position: relative
	height: 80px
	width: auto
	margin-left: 70px
	+fortablet
		margin-left: 0
	+formobile
		margin-left: 0

	img
		position: relative
		top: 50%
		transform: translateY(-50%)
		left: 0
		width: 100%

.mobilesearchbox
	display: none
	+formobile
		display: block

//NAV
.nav
	float: left
	display: block
	height: 80px
	line-height: 80px
	margin-left: 15px
	+fortablet
		height: auto
		overflow: hidden
		padding: 0
		margin-left: 0
		padding: 0
	+formobile
		height: auto
		overflow: hidden
		padding: 0
		margin-left: 0
		padding: 0

	li
		float: left
		margin: 0 25px 0 0
		+fortablet
			float: none
			display: block
			margin: 0
			height: 40px
			line-height: 40px
		+formobile
			float: none
			display: block
			margin: 0
			height: 40px
			line-height: 40px

		a
			font-family: $oswalda-light
			color: $white
			text-transform: uppercase
			font-size: 16px
			display: block
			+transitionspeed(.3s)

			&:hover,
			&.active
				color: $red
				+textshadow($black 0 1px 0)

.searchsocial
	margin: 26px 0 0 0
	position: relative
	height: 27px
	overflow: hidden
	float: right
	margin-right: 40px
	+fortablet
		display: none
	+formobile
		display: none


	.searchBlock
		float: left
		border-right: 1px $red-dark-1 solid

		.inputBox
			float: left
			margin-right: 5px
			background: $white
			//+bradius(15px)
			overflow: hidden
			width: 0
			+transitionspeed(.3s)

			input[type=text]
				float: right
				line-height: 24px
				+font($lato,14px,400)
				outline: none
				border: 0
				padding-left: 12px
				padding-right: 12px
				background: transparent
				box-sizing: border-box
				width: 100%

		.searchIcon
			float: left
			color: $white
			cursor: pointer
			margin-right: 8px
			line-height: 20px
			+transitionspeed(.3s)
			border: 0
			background: transparent
			outline: none
			padding: 0
			font-size: 14px

			&:hover 
				color: $red
			+formobile
				display: none

		&.open
			.searchIcon
				color: $red
				+transitionspeed(.3s)

			.inputBox
				width: 171px
				+transitionspeed(.3s)


	ul.socials
		float: left
		margin-top: 1px
		li
			float: left
			margin: 0 2px
			a
				width: 25px
				height: 25px
				line-height: 25px
				text-align: center
				display: block
				position: relative
				color: $white
				+bradius(50%)
				+transitionspeed(.3s)

				&.fbLink
					background: $facebook
					margin-left: 5px

					&:hover
						background: $facebook

				&.twLink
					background: $twitter

					&:hover
						background: $twitter
				i
					//+centerAll()
//topnav for mobile
.topnav
	display: none
	+formobile
		display: block
		height: 28px
		text-align: center
		color: $white
		line-height: 28px
		font-size: 20px
.triggers
	display: none
	+fortablet
		display: block
	+formobile
		display: block
.mobile-social
	display: none
	+fortablet
		display: block
		width: 100%
		height: 40px
		overflow: hidden

		a
			display: block
			float: left
			width: 50%
			text-align: center
			height: 40px
			line-height: 40px
			color: $white
			&.m-social--twitter
				background: #4099ff
			&.m-social--facebook
				background: #3b5998
	+formobile
		display: block
		width: 100%
		height: 30px
		overflow: hidden

		a
			display: block
			float: left
			width: 50%
			text-align: center
			height: 30px
			line-height: 30px
			color: $white
			&.m-social--twitter
				background: #4099ff
			&.m-social--facebook
				background: #3b5998

.mobilesearchbox
	display: none
	+fortablet
		display: block
		width: 100%
		height: 60px
		padding: 10px 0
		+borderbox
		clear: both
	+formobile
		display: block
		width: 100%
		height: 60px
		padding: 10px 0
		+borderbox
		clear: both
.mobilesearch
	display: none
	+fortablet
		display: block
		+appearance(none)
		+bradius(0)
		border: 0
		width: 100%
		margin: 0 auto
		height: 40px
		padding: 0 20px
	+formobile
		display: block
		+appearance(none)
		+bradius(0)
		border: 0
		width: 100%
		height: 40px
		margin: 10px auto
		padding: 0 20px
		margin: 0 auto

.burgermenu
	display: none
	+fortablet
		display: block
		float: right
		width: 30px
		height: 20px
		margin: 32px 0 0 0 
		position: relative
		cursor: pointer

		span
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			+calc(top,'50% - 2px')

		&:before
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			top: 0
			+transitionspeed(0.2s)
		&:after
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			bottom: 0
			+transitionspeed(0.2s)

		&.open
			span
				display: none
			&:before
				+transitionspeed(0.2s)
				+transform(rotate(45deg))
				top: 50%
			&:after
				+transitionspeed(0.2s)
				+transform(rotate(-45deg))
				top: 50%
	+formobile
		display: block
		float: right
		width: 30px
		height: 20px
		margin: 27px 10px 0 0
		position: relative
		cursor: pointer

		span
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			+calc(top,'50% - 2px')

		&:before
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			top: 0
			+transitionspeed(0.2s)
		&:after
			content: ''
			display: block
			position: absolute
			width: 100%
			height: 3px
			background: $white
			bottom: 0
			+transitionspeed(0.2s)

		&.open
			span
				display: none
			&:before
				+transitionspeed(0.2s)
				+transform(rotate(45deg))
				top: 50%
			&:after
				+transitionspeed(0.2s)
				+transform(rotate(-45deg))
				top: 50%