.aboutus
    color: $white
    h1
        display: block
        margin: 30px auto 0
        height: 50px
        line-height: 50px
        color: $white
        text-align: left
        font-family: $oswalda-light
        font-size: 30px
        width: 95%
    ul
        margin: 30px auto 
        padding: 0
        width: auto
        overflow: hidden
        width: 95%
        +desktopS
            width: 100%
        +formobile
            +calc(width,'100% + 20px')
            margin-left: -10px
            padding: 0 10px

        li
            +calc(width,'100% / 3 - 2%')
            min-height: 300px
            float: left
            position: relative
            +calc(margin-right,'2% * 3 / 2')
            +calc(margin-bottom,'2% * 3 / 2')
            &:nth-child(3n)
                margin-right: 0
            +desktopS
                +calc(width,'100% / 3 - 1%')
                +calc(margin-right,'1% * 3 / 2')
            +fortablet
                +calc(width,'100% / 2 - 2%')
                &:nth-child(even)
                    margin-right: 0
                &:nth-child(odd)
                    +calc(margin-right,'2% * 2')
                &:nth-child(3n)
                    display: none

            +formobile
                width: 100%
                margin-right: 0
                margin-bottom: 20px
            
            h3
                font-family: $oswalda-light
                font-size: 18px
                display: block
                height: 30px
                line-height: 30px
                font-weight: 100
            p
                font-family: $lato
                font-size: 14px
                line-height: 24px
                margin: 20px 0 40px
                
            img 
                display: block
                margin: auto
                left: 0
                top: 0
                right: 0
                bottom: 0
                position: relative