.channellist
    margin: 0 auto 0
    padding: 0
    width: auto
    overflow: hidden
    width: 95%
    +desktopS
        width: 100%
    +formobile
        +calc(width,'100% + 20px')
        margin-left: -10px
        padding: 0 10px
    
    li
        +calc(width,'100% / 3 - 2%')
        float: left
        background: $white
        position: relative
        +aspect-ratio(1,1)
        +calc(margin-right,'2% * 3 / 2')
        +calc(margin-bottom,'2% * 3 / 2')
        &:nth-child(3n)
            margin-right: 0
        +desktopS
            +calc(width,'100% / 3 - 1%')
            +calc(margin-right,'1% * 3 / 2')
        +fortablet
            +calc(width,'100% / 2 - 2%')
            &:nth-child(even)
                margin-right: 0
            &:nth-child(odd)
                +calc(margin-right,'2% * 2')
            &:nth-child(3n)
                display: none
        
        +formobile
            width: 100%
            margin-right: 0
            margin-bottom: 20px
        
        img
            width: 100%
            height: auto
            +transform(scale(1))
            +transitionspeed(3s)
            display: block
        
        &:hover
            .info-box
                +calc(top, '100% - 80px')
            img
                +transform(scale(1.3))
                +transitionspeed(3s)
        .info-box
            width: 100%
            height: auto
            background: $red
            padding: 10px
            position: absolute
            left: 0
            top: 100%
            color: $white
            font-family: $oswalda-light
            height: 80px
            +transitionspeed(0.5s)
            +fortablet
                +calc(top, '100% - 80px')    
            +formobile
                +calc(top, '100% - 80px')
            
            .title
                height: auto
                width: 100%
                display: block
                top: 50%
                left: 10px
                position: absolute
                +transform(translateY(-50%))
                text-transform: uppercase
                font-size: 18px
                +fortablet
                    font-size: 15px
                +formobile
                    font-size: 16px
                
                a
                    color: $white