#contact
    position: fixed
    left: 0
    bottom: 0
    z-index: -1
    width: 100%
    height: 550px
    +formobile
        height: auto
        position: relative
        z-index: auto
    
    ul
        margin: 20px auto
        padding: 0
        overflow: hidden
        
        li
            float: left
            +calc(width,'100% / 3 - 2%')
            +calc(margin-right,'2% * 3 / 2')
            +formobile
                width: 100%
                float: none
                margin-bottom: 30px
            
            &:last-child
                +calc(width,'100% / 3 * 2 - 2%')
                margin-right: 0
                +formobile
                    width: 100%
            
            h1
                font-size: 30px
                font-family: $oswalda-light
                margin-bottom: 25px
                line-height: 40px
                +formobile
                    margin-bottom: 10px
            p
                line-height: 24px
                font-size: 14px
                font-family: $lato
                margin-bottom: 30px
                +formobile
                    margin-bottom: 10px
            span
                display: block
                height: auto
                overflow: hidden
                margin-bottom: 10px
                
                
                input[type=text]
                    height: 40px
                    border: 1px $grey solid
                    line-height: 40px
                    padding: 0 10px
                    width: 70%
                    font-family: $oswalda-light
                    font-size: 14px
                    +fortablet
                        width: 100%
                    +formobile
                        width: 100%
                input[type=submit]
                    height: 40px
                    border: 0px $grey solid
                    line-height: 40px
                    padding: 0 10px
                    width: 150px
                    font-family: $oswalda-light
                    font-size: 14px
                    background: $red
                    color: $white
                    +calc(margin-left,'70% - 150px')
                    cursor: pointer
                    +fortablet
                        +calc(margin-left,'50% - 75px')
                    +formobile
                        +calc(margin-left,'50% - 75px')
                    &:hover
                        background: $red-dark-4
                        
                    
                textarea
                    height: 150px
                    min-height: 150px
                    max-height: 150px
                    border: 1px $grey solid
                    line-height: 40px
                    padding: 0 10px
                    width: 70%
                    max-width: 70%
                    min-width: 70%
                    font-family: $oswalda-light
                    font-size: 14px
                    +fortablet
                        width: 100%
                        max-width: 100%
                    +formobile
                        width: 100%
                        max-width: 100%
                &.error
                    input[type=text]
                        border: 1px $red solid
                        
                        

    