.featured-video
    +aspect-ratio(16,9)
    width: 100%
    max-width: 970px
    background: $white
    margin: 20px auto
    
    +formobile
        margin-left: -10px
        margin-top: 0
        margin-bottom: 0
        +calc(width,'100% + 20px')
    img
        width: 100%
        height: auto
        +transform(scale(1))
        +transitionspeed(3s)
    
    &:hover
        img
            +transform(scale(1.3))
            +transitionspeed(3s)
        .featured-playBtn
            border-color: $red
            color: $red
            +boxshadow(#000 0 0 100px)
            background: rgba(255,255,255,0.3)
            

.featured-playBtn
    width: 100px
    height: 100px
    border: 5px $white solid
    +bradius(50%)
    display: block
    position: absolute
    z-index: 2
    left: 50%
    top: 50%
    +transform(translate(-50%,-50%))
    background: rgba(0,0,0,0.3)
    font-size: 50px
    color: $white
    line-height: 90px
    +transitionspeed(3s)

    i.fa
        +calc(margin-left,'50% - 15px')
        
    &:hover
        +transitionspeed(3s)
        border-color: $red
        color: $red
        +boxshadow(#000 0 0 100px)
        background: rgba(255,255,255,0.3)