.lastcont
    margin-bottom: 550px
    +formobile
        margin-bottom: 0
        
.officialslist
    margin: 20px 0
    width: 100%
    padding: 0
    overflow: hidden
    
    li
        float: left
        +calc(width,'100% / 7')
        padding: 0 10px 20px 
        text-align: center
        color: $white
        +fortablet
            +calc(width,'100% / 5')
        +formobile
            width: 50%
        
        p
            display: block
            margin: 10px 0 5px
            font-size: 14px
            font-family: $oswalda-light
        
        span
            display: block
            font-size: 12px
            font-family: $lato