
.schedule-grid 
    width: 100%
    height: auto
    margin: auto
    position: relative
    padding: 10px 0 0
    overflow: hidden
    
    +formobile
        width: 100%
    
    .grid
        +aspect-ratio(1,1)
        +calc(width,'100% / 3')
        background: $grey
        float: left
        +formobile
            width: 50%
        
        &.wide
            +aspect-ratio(2,1)
            +calc(width,'100% / 3 * 2')
            background: $black
            +formobile
                width: 100%
        
        img
            width: 100%
            height: auto
            +transform(scale(1))
            +transitionspeed(3s)
            display: block
        
        &:hover
            .info-box
                +calc(top, '100% - 80px')
                +formobile
                    +calc(top, '100% - 50px')
            img
                +transform(scale(1.3))
                +transitionspeed(3s)
        
        .info-box
            width: 100%
            height: auto
            background: rgba(0,0,0,0.5)
            padding: 10px
            position: absolute
            left: 0
            top: 100%
            color: $white
            font-family: $oswalda-light
            height: 80px
            +transitionspeed(0.5s)
            +fortablet
                +calc(top, '100% - 80px')
                
            +formobile
                height: 50px
                +calc(top, '100% - 50px')
            
            .title
                height: auto
                +calc(width,'100% - 150px')
                display: block
                top: 50%
                left: 10px
                position: absolute
                +transform(translateY(-50%))
                text-transform: uppercase
                font-size: 18px
                +fortablet
                    +calc(width,'100% - 100px')
                    left: 0
                    padding: 0 10px
                    font-size: 15px
                +formobile
                    font-size: 10px
                    width: 50%
                    overflow: hidden
                    left: 0
                    padding: 0 10px
                
                a
                    color: $white
                
            .sched
                width: 150px
                position: absolute
                right: 0
                text-align: right
                top: 50%
                +transform(translateY(-50%))
                font-size: 25px
                padding: 0 10px
                height: 100%
                background: $red
                line-height: 40px
                text-align: left
                +fortablet
                    width: 100px
                    font-size: 20px
                +formobile
                    width: 50%
                    font-size: 15px
                    line-height: 25px
                small
                    display: block
                    font-size: 18px
                    +fortablet
                        font-size: 15px
                    +formobile
                        font-size: 10px
                    
                
.full-sched-title
    display: block
    margin: 0
    height: 50px
    background: $red
    line-height: 50px
    color: $white
    text-align: center
    font-family: $oswalda-light
    font-size: 20px
    
.fullsched-btn
    width: 100px
    height: 50px
    +bradius(0 0 50px 50px )
    background: $red
    display: block
    color: $white
    text-align: center
    font-family: $oswalda-light
    font-size: 14px
    margin: 0 auto
    
    .expand
        display: block
        padding: 5px 0
        span
            display: block
            
            
            
//
#panel
    +boxshadow($grey 0 -5px 4px inset)
    overflow: hidden
    height: 0
    +transitionspeed(1s)
    
    &.open 
        height: 550px
        +transitionspeed(1s)
    
    
.shedpanel
    height: 550px
    overflow: hidden
    width: 80%
    margin: 0 auto
    +fortablet
        width: 100%
    +formobile
        width: 100%
    
    & > div
        height: 500px
        overflow: auto
        width: 100%
        display: none
        &.active
            display: block
        
        ul
            margin: 0
            overflow: hidden
            
            li
                display: block
                height: 150px
                padding: 10px 0
                overflow: hidden
                font-family: $oswalda-light
                font-size: 18px
                &.current
                    color: $white
                    background: $red
                +formobile
                    height: auto
                
                
                
                span
                    display: block
                    float: left
                    height: 130px
                    line-height: 130px
                    padding: 0 10px
                    overflow: hidden
                    text-align: center
                    +fortablet
                        font-size: 14px
                    +formobile
                        font-size: 14px
                    
                    &.status
                        width: 10%
                        font-size: 12px
                        +fortablet
                            width: 15%
                            font-size: 10px
                        +formobile
                            width: 100%
                            height: 20px
                            line-height: 20px
                    &.time
                        width: 10%
                        +formobile
                            width: 40%
                            height: 100px
                            line-height: 100px
                    &.thumbnail
                        width: 20%
                        +formobile
                            width: 60%
                            height: 100px
                    &.showtitle
                        width: 60%
                        line-height: 20px
                        text-align: left
                        padding: 30px 20px 0
                        +fortablet
                            width: 55%
                        +formobile
                            width: 100%
                            height: auto
                        
                        small
                            display: block
                            padding: 10px 0
                    
                
    
    h1
        display: block
        float: left
        +calc(width,'100%/7')
        text-align: center
        height: 50px
        line-height: 50px
        font-family: $oswalda-light
        font-size: 18px
        cursor: pointer
        
        &:hover,&.active
            background: $black-2
            color: $white
    