.socialfeeds
    margin: 30px auto 
    padding: 0
    width: auto
    overflow: hidden
    width: 95%
    +desktopS
        width: 100%
    +formobile
        +calc(width,'100% + 20px')
        margin-left: -10px
        padding: 0 10px
    
    li
        +calc(width,'100% / 3 - 2%')
        float: left
        background: $white
        position: relative
        +aspect-ratio(1,1)
        +calc(margin-right,'2% * 3 / 2')
        +calc(margin-bottom,'2% * 3 / 2')
        &:nth-child(3n)
            margin-right: 0
        +desktopS
            +calc(width,'100% / 3 - 1%')
            +calc(margin-right,'1% * 3 / 2')
        +fortablet
            +calc(width,'100% / 2 - 2%')
            &:nth-child(even)
                margin-right: 0
            &:nth-child(odd)
                +calc(margin-right,'2% * 2')
            &:nth-child(3n)
                display: none
        
        +formobile
            width: 100%
            margin-right: 0
            margin-bottom: 20px