//LIST STYLE
.whats-new
    margin: 30px auto 30px
    padding: 0
    width: auto
    overflow: hidden
    width: 95%
    +desktopS
        width: 100%
    +formobile
        +calc(width,'100% + 20px')
        margin-left: -10px
        padding: 0 10px
    
    
    li
        +calc(width,'100% / 3 - 2%')
        float: left
        background: $white
        position: relative
        +aspect-ratio(1,1)
        +calc(margin-right,'2% * 3 / 2')
        +calc(margin-bottom,'2% * 3 / 2')
        &:nth-child(3n)
            margin-right: 0
        +desktopS
            +calc(width,'100% / 3 - 1%')
            +calc(margin-right,'1% * 3 / 2')
        +fortablet
            +calc(width,'100% / 2 - 2%')
            &:nth-child(even)
                margin-right: 0
            &:nth-child(odd)
                +calc(margin-right,'2% * 2')
        
        +formobile
            width: 100%
            margin-right: 0
            margin-bottom: 20px
        
        

            
            
        img
            width: 100%
            height: auto
            +transform(scale(1))
            +transitionspeed(3s)
            display: block
        
        &:hover
            .info-box
                +calc(top, '100% - 80px')
            img
                +transform(scale(1.3))
                +transitionspeed(3s)
        .info-box
            width: 100%
            height: auto
            background: rgba(0,0,0,0.5)
            padding: 10px
            position: absolute
            left: 0
            top: 100%
            color: $white
            font-family: $oswalda-light
            height: 80px
            +transitionspeed(0.5s)
            +fortablet
                +calc(top, '100% - 80px')    
            +formobile
                +calc(top, '100% - 80px')
            
            .title
                height: auto
                width: 75%
                display: block
                top: 50%
                left: 10px
                position: absolute
                +transform(translateY(-50%))
                text-transform: uppercase
                font-size: 18px
                +fortablet
                    font-size: 15px
                +formobile
                    font-size: 16px
                
                a
                    color: $white
                
            .category
                width: 20%
                position: absolute
                right: 10px
                text-align: right
                top: 50%
                +transform(translateY(-50%))
                font-size: 18px
        &.adsbox
            +formobile
                margin-left: -10px
                +calc(width,'100% + 20px')
            
.adsbox-content
    width: 300px
    height: 250px
    border: 1px $grey solid
    left: 0
    top: 0
    right: 0
    bottom: 0
    position: absolute
    margin: auto
    
    +formobile
        